
@font-face{
	font-family: "Calig1";
	src: url('/fonts/0racccd.TTF') format('truetype');
}

@font-face{
	font-family: "Calig2";
	src: url('/fonts/rac1etch.ttf') format('truetype');
}

@font-face{
	font-family: "Calig3";
	src: url('/fonts/Scooby Doo.ttf') format('truetype');
}