//Header
	#masthead{
		border-bottom: 10px dashed darken( $primary-color, 10% );
		@extend .p-def-pad-bottom;
		

		a{
	 		color: $secondary-color;
		}a:hover{
			text-decoration: none; 
		}a:focus{
			text-decoration: none;
		}
	}

//Main Menu Object
	#masthead .main-nav-style{
		//Properites
			text-align: center; 
			background-color: $primary-color;
			border-bottom: 4px solid darken( $primary-color, 10% );
			font-size: 150%;

			@extend .p-def-pad-bottom;
			

		//"Methods"
			.menu{
				//display: inline-block;
				margin: 0 auto;				
			}

			.menu-main-menu-container { @extend .p-inline-center }

			li a{
				margin-right: 12px;
				font-weight: bold; 
				color: darken( $primary-color, 45% );
				font-family: 'Cousine', ;
				text-transform: uppercase; 
				@extend .p-def-padding;
			}li a:hover{
				text-decoration: none; 
				@extend .p-menu-highlight;
			}li a:focus{
				text-decoration: none; 
			}
			.current-menu-item a{
				border-bottom: 3px solid darken( $primary-color, 15% );
			}
			li:last-child a{
				margin-right: 0;
			}

			.menu-toggle{

				//background-color: darken( $primary-color, 10% );
				//color: darken( $primary-color, 45% );
				//font-weight: bold; 
				//
				@extend .p-att-button;
				margin-bottom: 15px; 
				height: 50px;
				line-height: 0px; 
				font-size: 150%;
				@extend .p-button-reset;

			}

		//Mobile
			@media screen and (max-width: $mobile-size) {
				.menu-main-menu-container{
					@extend .p-mobile-reset;
				}
				li{
					width: 100%;
					float: none; 
					margin-bottom: 5px; 
				}li a{
					width: 100%;
					margin: 0; 
					font-size: 200%;
				}
				.current-menu-item a{
					border-bottom: none;
				}
				.menu{
					//display: inherit;
					margin: 0;		
				}

				float: none; 
			}
	}

//Site Branding Object
	#masthead .site-branding{
		font-family: 'Source Code Pro', ;
		display: inline; 
		h1, h3{ display: inline; }

		//Mobile
			@media screen and (max-width: $mobile-size) {
				.site-title,
				.site-description{
					@extend .p-mobile-reset;
				}
				li{
					width: 100%;
					float: none; 
					margin-bottom: 5px; 
				}li a{
					width: 100%;
					margin: 0; 
					font-size: 200%;
				}
			}
	}

//Widget area object
	#masthead .widget-area-header{
		//float: right; 
		//@extend .p-def-padding;
		padding: 30px;
		
		a{
			@extend .p-att-button;
		}
		@media screen and (max-width: $mobile-size) {
			@extend .p-mobile-reset;
		}
	}

//Background Object
	#masthead .header-back{
		min-height: 240px; 
		background-position: center; 
		background-repeat: no-repeat; 
	}