#content{

//Links/textual elements
	a{
		color: $secondary-color;
	}a:hover{
		text-decoration: none; 
	}a:focus{
		text-decoration: none; 
	}

//Primary Area
	#primary{
		@extend .p-def-padding;
		font-size: 120%;

		article.page,
		article.post{
			border-bottom: 3px solid $primary-color; 
			.entry-content { @extend .p-def-padding; }
		}

		.entry-title{
			/*background: $primary-color;
			color: darken( $primary-color, 45% );
			border-left: 6px solid darken( $primary-color, 45% );
			border-radius: 4px; */
			@extend .p-banner; 
			a,label { 
				@extend .p-att-button; 
				display: inline; 
				background-color: lighten( $secondary-color, 5%);
			}
			@extend .p-def-pad-bottom;
		}

		img{
			border-radius: 5px; 
			box-shadow: 10px 10px 5px rgba(0,0,0,.2);
		}

	}
//Secondary area
	#secondary{
		margin-top: 10px;
		.widget-title{
			@extend .p-banner; 
		}

		font-size: 120%;
	}
	


	//Mobile
		@media screen and (max-width: $mobile-size){
			#primary{
				.entry-title{
					a,label {
						background-color: transparent; 
						color: darken($primary-color, 45%);
					}
				}
			}

			#secondary a{
				font-size: 150%;
			}
		}

	}