//Variables
	$primary-color: #dfeded;
	$secondary-color: #ec502c;
	$tertiary-color: #eee;
	$mobile-size: 599px; 

//Imports - Tools
	@import 'properties';
	@import 'mixins';
	@import 'fonts';

//General Site Rules


//Imports - Components
	@import 'site-header';
	@import 'site-content';